--index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio
lancedb
tantivy==0.22.0
PyMuPDF
streamlit
transformers
accelerate
bitsandbytes
rank_bm25
scikit-learn
numpy
Pillow
sentence-transformers
streamlit-pdf-viewer
networkx
requests
psutil
