--index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio
faiss-gpu
streamlit
transformers
accelerate
bitsandbytes
rank_bm25
scikit-learn
numpy
Pillow
langchain-text-splitters
sentence-transformers
docling
streamlit-pdf-viewer
networkx
requests
py-cpuinfo
psutil
